  #viewDiv {
    position: absolute;
    height: 470px;
    width: 700px;
    top: 560PX;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 5;
  }
  #viewDiv2 {
    position: absolute;
    height: 470px;
    width: 700px;
    top: 307%;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 5;
  }
  #Basemap_{
    position: absolute;
    bottom: 14px;
    right: 5px;
    width: 70px;
    height: 145px;
    padding: 5px;
    background-size: 100%;
    background-color: #242327;
    opacity: 0.7;
    z-index: 9;
    border: 3px dotted #000000;
    border-radius:5px ;
  }

  
  #feature{
    position: absolute;
    bottom: 40px;
    left: 5px;
    width: 220px;
    height: 60px;
    padding: 5px;
    background-size: 100%;
    background-color: #726868;
    opacity: 0.7;
    border: 3px dotted #000000;
    border-radius:5px ;
  }


  #city2{
  top: 5px;
  left: 30px;
	float: top;
	position:absolute;
	opacity: 0.8;
  }


  #imagery2{
    top: 25px;
    left: 30px;
    float: left;
    position:absolute;

    opacity: 0.8;
  }

  #china_B2{
    top: 45px;
    left: 30px;
    float: left;
    position:absolute;

    opacity: 0.8;
  }
 
  #JWD{
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 200px;
    height: 20px;
    padding: 5px;
    background-size: 100%;
    opacity: 0.7;
    z-index: 9;
    border-radius:5px;
    color: aliceblue;
  }
  #scale{
    position: absolute;
    bottom: 10px;
    left: 200px;
    width: 200px;
    height: 20px;
    padding: 5px;
    background-size: 100%;
    opacity: 0.7;
    z-index: 9;
    border-radius:5px;
    color: aliceblue;
  }
  #hh1{
    position: absolute;
    top: 50px;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
  }
  #hh2{
    position: absolute;
    width: 800px;
    top: 140px;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
}
  #hh3{
    position: absolute;
    width: 800px;
    top: 142%;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
  }
  #hh4{
    position: absolute;
    width: 800px;
    top: 295%;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
  }
  #hh5{
    position: absolute;
    width: 800px;
    top: 380%;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
  }
  #hh6{
    position: absolute;
    width: 800px;
    top: 485%;
    left:0;
    bottom: 0;
    right: 0;
    margin:0 auto ;
    z-index: 9;
    height: 60px;
  }



