html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #viewDiv {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    left: 0;
    padding: 0;
    margin: 0;
  }
  #viewDiv3 {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    left: 0;
    padding: 0;
    margin: 0;
  }
  #viewDiv2{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0px;
    top: 0%;
  }
  #viewDiv4{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0px;
    top: 0%;
    opacity: 0;
    z-index: 5;
  }
  #Basemap_{
    position: absolute;
    top: 10px;
    right: 51%;
    width: 70px;
    height: 294px;
    padding: 5px;
    background-size: 100%;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 9;
    border: 3px dotted #000000;
    border-radius:5px ;
  }
  .basemap{
    margin: 0px;
    z-index: 20;
  }
  #Basemap_2{
    position: absolute;
    top: 10px;
    right: 1%;
    width: 70px;
    height: 294px;
    padding: 5px;
    background-size: 100%;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 9;
    border: 3px dotted #000000;
    border-radius:5px ;
  }
  #feature{
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 300px;
    height: 100px;
    padding: 5px;
    background-size: 100%;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 9;
    border: 3px dotted #000000;
    border-radius:5px ;
  }

  #earthquake2{
  top: 5px;
  left: 30px;
	float: left;
	position:absolute;
	background-color: white;
	opacity: 0.8;
  }
  #button1{
    top: 1px;
    float:right;
    background-color: rgb(252, 250, 247);
    border: 1px solid rgb(156, 149, 165);
    color: rgb(15, 15, 15);
    height: 20px;
    width: 60px;
    z-index: 10;
  }
  #city2{
  top: 25px;
  left: 30px;
	float: top;
	position:absolute;
	background-color: white;
	opacity: 0.8;
  }
  #button2{
    top: 1px;
    float:right;
    background-color: rgb(252, 250, 247);
    border: 1px solid rgb(156, 149, 165);
    color: rgb(15, 15, 15);
    height: 20px;
    width: 60px;
    z-index: 10;
  }

  #imagery2{
    top: 45px;
    left: 30px;
    float: left;
    position:absolute;
    background-color: white;
    opacity: 0.8;
  }
  #button3{
    top: 1px;
    float:right;
    background-color: rgb(252, 250, 247);
    border: 1px solid rgb(156, 149, 165);
    color: rgb(15, 15, 15);
    height: 20px;
    width: 60px;
    z-index: 10;
  }
  #china_B2{
    top: 65px;
    left: 30px;
    float: left;
    position:absolute;
    background-color: white;
    opacity: 0.8;
  }
  #button4{
    top: 1px;
    float:right;
    background-color: rgb(252, 250, 247);
    border: 1px solid rgb(156, 149, 165);
    color: rgb(15, 15, 15);
    height: 20px;
    width: 60px;
    z-index: 10;
  }
  #JWD{
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 200px;
    height: 20px;
    padding: 5px;
    background-size: 100%;
    opacity: 0.7;
    z-index: 9;
    border-radius:5px;
  }
  #scale{
    position: absolute;
    bottom: 10px;
    left: 200px;
    width: 200px;
    height: 20px;
    padding: 5px;
    background-size: 100%;
    opacity: 0.7;
    z-index: 9;
    border-radius:5px;
  }
  #div1 {
    top: 25%;
    width : 150px;
    height: 150px;
    position: absolute;
    background: #99dd33;
    cursor: move;
    z-index: 20;
    opacity: 0.1;
}
.main{
  position: absolute;
  top: 2px;
  left: 70px;
  z-index: 100;
  color: #000;
  width: 70px;
  height: 25px;
}
.swipe{
  position: absolute;
  top: 2px;
  left: 150px;
  z-index: 100;
  color: rgb(0, 0, 0);
  width: 70px;
  height: 25px;
}